<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your order has been confirmed</h1>
    <p>your user name is : <%= @user.username %> </p>

    <p>Your product details is :</p>  

    <div class="container">
        <div class="order">
          <div> Product Category : <%= @order.product.category %></div>
          <div> Product Price : <%= @order.product.price %></div>
          <div> Quantity : <%= @order.quantity %></div>
          <div> Total price : <%= @order.price %></div><br>
        </div>
    </div>

    <p>If you did not make this order then please ignore this email</p>
  </body>
</html>